<row>
    <columns>
        <p class="text-center">
            {{ 'app.newsletter_sent_by' | trans({'%company%': tpl.company_name}) }}
        </p>
        <hr align="left" style="margin-left:0px; text-align:left; background-color:#aeb2b3; color:#aeb2b3; height: 1px; border: 0 none;" />
    </columns>
</row>
<row>
    <columns></columns>
    <columns large="3" small="6">
        <img class="float-center" src="{{ tpl.logo }}" alt="Logo" border="0">
    </columns>
    <columns></columns>
</row>
