<row class="collapse">
    <columns small="6">
        <img width="150" src="{{ tpl.logo }}" alt="Logo" border="0">
    </columns>
    <columns small="6" valign="middle" class="text-right">
        <p class="text-right">{{ 'app.newsletter_title'| trans({'%company%' : tpl.company_name}) }}</p>
    </columns>
</row>
<spacer size="16"></spacer>
{% if tpl.summary is defined %}
<row>
    <columns  style="padding: 8px 0 8px 16px; border-left: 2px solid {{ tpl.main_color }};">
        <p class="no-margin">{{ tpl.summary | raw | nl2br }}</p>
    </columns>
</row>
<spacer size="16"></spacer>
{% endif %}
