###> IDE ###
.idea
###< IDE ###

###> PROJECT ###
vendor

###< PROJECT ###

###> symfony/framework-bundle ###
src/.env
src/public/bundles/
src/var/
src/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
src/.phpunit
src/phpunit.xml
###< symfony/phpunit-bridge ###
cghooks.lock
