###> IDE ###
.idea
###< IDE ###


###> symfony/framework-bundle ###
src/.env
src/public/bundles/
src/var/
src/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
src/.phpunit
src/phpunit.xml
###< symfony/phpunit-bridge ###

###> PROJECT ###
vendor
cghooks.lock
/src/public/messages/
/src/public/news/
/src/config/channels.json
/src/config/receivers.json
###< PROJECT ###
