parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/src/

    ergebnis:
        classesAllowedToBeExtended:
            - Symfony\Component\Console\Command\Command
            - Ramsey\Collection\AbstractCollection
    excludes_analyse:
        - %currentWorkingDirectory%/src/Kernel.php
        - %currentWorkingDirectory%/src/Migrations
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/public
        - %currentWorkingDirectory%/phpinsights.php

    ignoreErrors:
        - "#^Method App\\\\Model\\\\.* has a nullable return type declaration\\.$#" # Authorize nullable return type for App\Model
        - "#^Method App\\\\Model\\\\.* has parameter .* with a nullable type declaration\\.$#" # Authorize nullable return type for App\Model
        - "#^Method App\\\\Model\\\\.* has parameter .* with null as default value\\.$#" # Authorize nullable return type for App\Model
        - "#^Constructor in App\\\\Model\\\\.* has parameter .* with default value\\.$#" # Authorize default value in construct for App\Model
