parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/

    ergebnis:
        classesAllowedToBeExtended:
            - Symfony\Component\Console\Command\Command

    excludes_analyse:
        - %currentWorkingDirectory%/src/Kernel.php
        - %currentWorkingDirectory%/src/Migrations
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/public

    ignoreErrors:
