{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css" media="screen">
        {% include 'css/default.css.twig' %}
    </style>
{% endblock %}


{% block body %}
<div align="center" style="background-color:{{ tpl.background_color }};">
    {% include 'newsletter/header.html.twig' with {'tpl' : tpl} only %}

    {% for section in messages %}
        {% include 'newsletter/section.html.twig' with {'section' : section, 'tpl' : tpl } only %}
    {% endfor %}

    {% include 'newsletter/footer.html.twig' with {'tpl' : tpl} only  %}
</div>
{% endblock body %}
