<table id="email-container" width="600" align="center" style="padding:20px 0px;" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table width="600" class="resp-full-table" align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" class="resp-full-td" style="text-align: center;">
                        <span style="font-size:12px; font-family:'Helvetica Neue', helvetica, arial, sans-serif; color:#aeb2b3">
                            This newsletter was sent by {{ tpl.company_name }}.
                            <br>
                        </span>
                        <hr align="left" style="margin-left:0px; text-align:left; background-color:#aeb2b3; color:#aeb2b3; height: 1px; border: 0 none;" />
                        <img width="150" src="{{ tpl.logo }}" alt="Logo" border="0">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
