[
    {
        "link": "CXXXXXXX",
        "name": "Symfony General",
        "description": "General discussions about Symfony (English only). *Support is available in #support channel.* https://symfony.com/slack-invite"
    }
]
