[
    {
        "link": "CXXXXXXX",
        "name": "Symfony General",
        "description": "General discussions about Symfony (English only). \n *Support is available in #support channel.* \n https://symfony.com/slack-invite"
        "image": "Optionnal"
    }
]
