<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="margin:0;padding:0">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
