{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css" media="screen">
        {% include 'css/default.css.twig' %}
    </style>
{% endblock %}


{% block body %}
<div align="center" style="background-color:{{ tpl.background_color }};">
    <table id="email-container" width="660" align="center" style="padding:20px 0px;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                {% include 'newsletter/header.html.twig' with {'tpl' : tpl} only %}
            </td>
        </tr>

        {% for section in messages %}
            <tr>
                <td>
                    {% include 'newsletter/section.html.twig' with {'section' : section, 'tpl' : tpl } only %}
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td>
                {% include 'newsletter/footer.html.twig' with {'tpl' : tpl} only  %}
            </td>
        </tr>
    </table>
</div>
{% endblock body %}
