{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css" media="screen">
        {% include 'css/default.css.twig' %}
    </style>
{% endblock %}

{% block title %}{{ 'app.newsletter_title'| trans({'%company%' : tpl.company_name}) }}{% endblock %}

{% block body %}
    <container>
        <spacer size="16"></spacer>
        {% include 'newsletter/header.html.twig' with {'tpl' : tpl} only %}
        <spacer size="16"></spacer>
        {% for section in messages %}
            {% include 'newsletter/section.html.twig' with {'section' : section, 'tpl' : tpl } only %}
        {% endfor %}
        {#<tr>
            <td>
                {% include 'newsletter/footer.html.twig' with {'tpl' : tpl} only %}
            </td>
        </tr>#}
    </container>
{% endblock body %}
